//- Primary and variants
$primary: #224466;
$primary-light: #4981b8;

//- Secondary and variants
$secondary: #292929;
$secondary-light: #404040;
$secondary-lighter: #5c5c5c;

//- White
$white: #FFF;


//- Misc
$danger: #CC0E26;
$warning: #FFBA08;
$success: #20BF55;