@import './colors';
@import './helpers';
@import './overrides';
@import './variables';


body {
  background-color: $primary;
}

html, body, #root, .App {
  height: 100%;
  overflow: hidden;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  //- Text CSS
  text-align: center;
  color: $white;
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 512px;
    transition: 5s all;
    padding: 2rem;
    .header-title {
      max-width: 16rem;
      padding: 0 2rem;
    }
  }
}

.loader {
  opacity: 0;
  border: 16px solid $white;
  border-top: 16px solid $secondary;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  animation: spin 1s ease-in-out infinite;
  transition: opacity .5s linear;
  &.show { opacity: 1; }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
