@import '../../assets/style/App.scss';
// @import './overrides';

$toggle-hide-button-icon-size: 2rem;
$input-field-max-width: 32rem;
$input-field-height: 4rem;
$input-field-border-radius: .5rem;


.password-input-field-container {
    //- Layout
    width: 100%;
    max-width: $input-field-max-width;
    .password-input-field-group {
        //- Layout
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        .password-input-field-outline {
            //- Layout
            position: absolute;
            width: 0;
            height: calc($input-field-height - 2rem);
            z-index: -1;
            //- Colors
            background-color: $primary-light;
            //- Misc
            border: .5rem solid $primary-light;
            border-radius: $input-field-border-radius;
            transition: .25s width;
            &.show {
                width: $input-field-max-width;
                height: $input-field-height;
            }
        }
        input {
            &.password-input-field {
                //- Layout
                z-index: 1;
                //- Size
                height: $input-field-height;
                width: 100%;
                //- Font
                font-size: 1.75rem;
                text-align: center;
                font-family: 'Oswald';
                //- Misc
                background: $white;
                border-radius: .5rem;
                outline: none;
                border: none;
                &:focus + .outline{
                    outline: 2px solid green;
                }
                &.hide {
                    -webkit-text-security: disc;
                }
            }
        }
        a {
            &.toggle-hide-button {
                //- Layout
                position: absolute;
                right: 0;
                top: calc(50% - calc($toggle-hide-button-icon-size / 2));
                z-index: 1;
                //- Misc
                opacity: 0;
                transition: opacity .3s;
                &.is-visible { opacity: 1; }
                .hide-button-icon-container {
                    //- Layout
                    display: flex;
                    padding: 0 .5rem;
                    width: calc($toggle-hide-button-icon-size + 10px);
                    height: $toggle-hide-button-icon-size;
                    //- Colors
                    color: $secondary-lighter;
                    background-color: $white;
                    //- Misc.
                    transition: color .3s;
                    svg {
                        width: 100%;
                        height: 100%;
                    }
                    .icon-slash {
                        //- Variables
                        $slash-size: calc($toggle-hide-button-icon-size + 1rem);
                        //- Layout
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        position: absolute;
                        left: .2rem;
                        width: 0;
                        height: 0;
                        //- Misc
                        transition: .3s all;
                        overflow: hidden;
                        &.show {
                            width: $slash-size;
                            height: $toggle-hide-button-icon-size;
                        }
                        .icon-slash-content {
                            //- Layout
                            min-width: $slash-size;
                            height: .25rem;
                            transform: rotate(30deg);
                            //- Colors
                            background-color: $secondary-lighter;
                            //- Misc
                            border-radius: .15rem;
                        }
                    }

                }
                &:hover {
                    cursor: pointer;
                    .hide-button-icon-container {
                        color: $secondary;
                        .icon-slash-content {
                            background-color: $secondary;
                        }
                    }
                }
            }
        }
    }
}

.outline {

}