@import '../../assets/style/App.scss';

$animation-duration: .75;


.password-result-details-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    max-height: 16rem;
    width: 100%;
    .loader-container {
        position: absolute;
        top: 2rem;
    }
    .password-result-details {
        opacity: 0;
        height: 0;
        overflow: hidden;
        transition: height .5s linear, opacity .5s linear;
        &.show {
            height: 100%;
            opacity: 100%;
        }
        p {
            &.password-suggestion-string {
                font-weight: bold;
            }
        }
    }
}