@import '../../assets/style/App.scss';

$animation-duration: .75;

.password-result-details-container {
    display: none;
    &.show {
        display: block;
    }
    p {
        font-size: 1.25rem;
        &.password-suggestion-string {
            font-weight: bold;
        }
    }
}